/* style.css */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f4f8; /* Sfondo Grigio Chiaro */
    color: #1f2937; /* Testo Scuro */
    
    /* SFONDO IMMAGINE CAMPO DA CALCIO */
    background-image: url('https://github.com/carciofiatomici-bot/Campionato-SerieSeriA/blob/main/campo%20da%20calcio.jpg?raw=true');
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
}
.main-card {
    /* MODIFICA PER TRASPARENZA 50% (0.5) */
    background-color: rgba(255, 255, 255, 0.5); /* Bianco con 50% di trasparenza */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid #e2e8f0;
}
.text-primary-color {
    color: #1f2937; /* CAMBIATO DA VERDE A NERO SCURO per l'accento */
}
.btn-primary {
    background-color: #10b981; /* Verde Smeraldo */
    color: white;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-secondary {
    background-color: #3b82f6; /* Blu */
    color: white;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-style {
    width: 100%;